@page
<h1>Privacy</h1>
<span>
    Hac etiam taciti neque himenaeos cras sit. Id maximus porttitor praesent. Class ornare sagittis est laoreet non gravida. Eros vulputate elementum dapibus pellentesque rutrum justo. Nam natoque euismod aenean ornare odio molestie.

Commodo cras euismod pellentesque et proin. Cras eros pulvinar sit fusce adipiscing a elementum. Volutpat vivamus letius ligula posuere. Consequat facilisi neque ante bibendum in. Senectus curae sed interdum augue.
</span>